<!--
  Copyright 2016 Google, Inc.

  Licensed to the Apache Software Foundation (ASF) under one or more contributor
  license agreements. See the NOTICE file distributed with this work for
  additional information regarding copyright ownership. The ASF licenses this
  file to you under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico" />
  <title>Favorite Raleigh Restaurants</title>

  <!-- Material Design Lite -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- Local Assets -->
  <link rel="stylesheet" href="/styles.css">
  <script src="/script.js"></script>

  <!-- TODO: Add Google Sign-in library -->

<meta name="google-signin-scope" 
      content="https://www.googleapis.com/auth/spreadsheets">
<meta name="google-signin-client_id" content="AUTH CLIENT KEY HERE -googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
      <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>
      <div class="mdl-layout__header-row">
        <h3><a href="/">Favorite Raleigh Restaurants</a></h3>
        <div class="mdl-layout-spacer"></div>
        <div id="spinner" class="mdl-spinner mdl-js-spinner"></div>
        <!-- TODO: Add Google Sign-in button -->
        <div id="profile" style="margin: 0 20px;">
          <b class="name"></b><br/>
          <i class="email"></i>
        </div>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>
    </header>
    <main class="mdl-layout__content">
      {{{body}}}
    </main>
    <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
  </div>
</body>
</html>
